*
!*.sh
!*.awk
!*.auto
!*.conf
!*.sed
!todo.txt
!issues.txt
!todo_sqlite.txt
!sqlite_db_schema.sql
!sqlite_frequent_db_schema.sql
!chuletas_fts_db_schema.sql
!chuleta_ins.trg
!fts_todo.txt
!notes.txt
!unit_tests.txt
!git_based_todo.txt
!todo_batcat.txt
!changes_config_and_db.txt
test.sh
test2.sh
!replay.txt
!debug.txt

