*
!*.sh
!*.awk
!*.auto
!*.conf
!*.sed
!todo.txt
!issues.txt
!todo_sqlite.txt
!sqlite_db_schema.sql
!sqlite_frequent_db_schema.sql
!notes.txt
!unit_tests.txt
!git_based_todo.txt
!ubuntu_todo.txt
test.sh
test2.sh
